.job-offer-error, .job-offer-success {
    font-size: 1.2em;
}

.job-offer-bold {
    font-weight: bold;
}

/****************************************/
/*    Style for little rectangle        */
/****************************************/
.traineeship, .temporary_position, .full-time, .permanent_position {
    width: 50px;
    height: 25px;
}

.traineeship {
    
}

.temporary_position {
    
}

.full-time {
    
}

.permanent_position {
    
}