.job-offer-error, .job-offer-success {
    font-size: 1.2em;
}

.job-offer-bold {
    font-weight: bold;
}

.job-offer-view-table {
    border-collapse: collapse;
}

th, tr {
    border-top: 1px solid black;
}


/****************************************/
/*    Style for little rectangle        */
/****************************************/
.traineeship, .temporary_position, .full-time, .permanent_position {
    width: 150px;
    height: 35px;
}

.traineeship {
    
}

.temporary_position {
    
}

.full-time {
    
}

.permanent_position {
    
}