.job-offer-error, .job-offer-success {
    font-size: 1.2em;
}

.job-offer-bold {
    font-weight: bold;
}

#job-offer-view-table {
    border-collapse: collapse;
}

#job-offer-view-table tr {
    border-top: 1px solid black;
}


/****************************************/
/*    Style for little rectangle        */
/****************************************/
.traineeship, .stage,
.temporary_position, .cdi,
.full-time, .temps_plein, 
.permanent_position, .cdd,
.alternation, .alternance {
    width: 90px;
    height: 30px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.stage, .traineeship {
    background-color: #0074a2;
}

.cdi, .temporary_position {
    background-color: #cc6d23;
}

.temps_plein, .full-time {
    background-color: #008000;
}

.cdd, .permanent_position {
    background-color: #d02c21;
}

.alternance, .alternation {
    background-color: navy;
}